
<div class="d-flex w-100">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
@code {
    [Parameter] public List<DragAndDropModel> DragAndDropModels { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    public DragAndDropModel OnDrag { get; set; }
    public void Update(int newNumber)
    {
        var card = DragAndDropModels.FirstOrDefault(x => x.Id == OnDrag.Id);
        if(card != null)
        {
            card.Number = newNumber;
            StateHasChanged();
        }
    }
}
